.spacer {
  height: 50px;
}

.background {
  position: fixed;
  @include position(0);
  z-index: -1;
}

.link {
  cursor: pointer;
}

:global {
  .mainContent {
    background-color: $primary_color;
  }
}