
.container {
  .header {
    display: flex;
    .left {
      // width: 25%;
      text-align: right;

      .logoWrapper {
        // background-color: $white;
        border-radius: 50%;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .16), 1px 1px 4px rgba(0, 0, 0, .23);
        padding: 10px;
        box-sizing: border-box;
        margin: 100px auto;
        height: 200px;
        width: 200px;
        text-align: center;
        background-color: #6200EE;
        img {
          height: 100%;
          margin-right: -5px;
        }
      }
    }

    // .right {
    //   width: 75%;
    // }
  }

  .left {
    width: 20%;
  }
  .right {
    width: 75%;
  }
}
.fab {
  border-radius: 35px !important;
  transform: translate(50%, 50%);
}

.postStub {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .16), 1px 1px 4px rgba(0, 0, 0, .23);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.postContainer {
  padding: 20px 0;
  width: 75%;
}

.secondContainer {
  background-color: #efefef;
  display: flex;
}