// Primary Colors

// // nice pallets

// // Cheer up Emo Kid -> http://www.colourlovers.com/palette/1930/cheer_up_emo_kid#
// $might_slate: #556270;
// $pacifica: #4ECDC4;
// $apple_chic: #c7f464;
// $cheery_pink: #ff6b6b;
// $grandma_pillow: #c44d58;


// // Ocean Five -> http://www.colourlovers.com/palette/1473/Ocean_Five
// $invisible_ufo: #00a0b0;
// $caribic_brown: #6a4a36;
// $caribic_red: #cc333f;
// $caribic_sun: #eb6841;
// $caribic_daylight: #edc951;

// $purple: #3A3A91;
$gold: #917B3A;

$react: rgb(97, 218, 251);

$dark-purple: #0f0d3e;
$purple: #2b1b3a;
$light-purple:#4d3162;
$very-light-purple: #8e61b0;
$dark-pink: #a44e90;
$pink: #edbcec;
$accent: #d7d5f2;

$error: #EA4644;


// Icon Colors
$skin: #DDB9A6;
$beard: #161616;


$black: #000;
$white: #efefef;

$primary_color: #262626;

$shade: rgba($black, .2);

$text_color: $primary_color;
$link_color: blue;