@font-face {
  font-family: 'portfolio';
  src:
    url('/res/fonts/portfolio.ttf?fcgft6') format('truetype'),
    url('/res/fonts/portfolio.woff?fcgft6') format('woff'),
    url('/res/fonts/portfolio.svg?fcgft6#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global {

	/** Global Styles
		*/
	
	@import 'iconClasses';

	body {
		margin: 0;
		font-family: 'Ubuntu', sans-serif;
		overflow-x: hidden;
		.mainContent {
			position: relative;
			// background-color: $primary_color;
			// background-color: red;
			// color: $text_color;
			padding-top: 1px; // prevent border collapse beyond mainContent
			margin-top: -1px;
			box-sizing: border-box;
      height: 100%;
			min-height: calc(100vh - #{$header-height});
			// background-color: $white;
			z-index: 0;
		}
	}

	a {
		color: $very-light-purple;
		&:visited {
			color: $dark-pink;
		}
	}
/////////
}