$icomoon-font-family: "portfolio" !default;
$icomoon-font-path: "fonts" !default;

$icon-at-sign: "\e903";
$icon-cast: "\e904";
$icon-check: "\e905";
$icon-chevron-down: "\e906";
$icon-chevron-up: "\e907";
$icon-delete: "\e908";
$icon-download-cloud: "\e909";
$icon-edit: "\e90a";
$icon-github: "\e90b";
$icon-gitlab: "\e90c";
$icon-hash: "\e916";
$icon-linkedin: "\e90d";
$icon-rss: "\e90e";
$icon-send: "\e90f";
$icon-slack: "\e910";
$icon-terminal: "\e911";
$icon-thumbs-down: "\e912";
$icon-thumbs-up: "\e913";
$icon-twitter: "\e914";
$icon-user: "\e915";
$icon-social-linkedin: "\e900";
$icon-arrow-down: "\e91d";
$icon-arrow-down-left: "\e91e";
$icon-arrow-down-right: "\e91f";
$icon-arrow-left: "\e920";
$icon-arrow-right: "\e921";
$icon-arrow-up: "\e922";
$icon-arrow-up-left: "\e923";
$icon-check-circle: "\e901";
$icon-chevron-left: "\e924";
$icon-chevron-right: "\e925";
$icon-clock: "\e902";
$icon-git-branch: "\e917";
$icon-git-commit: "\e918";
$icon-git-merge: "\e919";
$icon-git-pull-request: "\e91a";
$icon-watch: "\e91b";
$icon-x: "\e91c";
