[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}


.icon-at-sign {
  &:before {
    content: $icon-at-sign; 
  }
}
.icon-cast {
  &:before {
    content: $icon-cast; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-download-cloud {
  &:before {
    content: $icon-download-cloud; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab; 
  }
}
.icon-hash {
  &:before {
    content: $icon-hash; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-rss {
  &:before {
    content: $icon-rss; 
  }
}
.icon-send {
  &:before {
    content: $icon-send; 
  }
}
.icon-slack {
  &:before {
    content: $icon-slack; 
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-social-linkedin {
  &:before {
    content: $icon-social-linkedin; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-down-left {
  &:before {
    content: $icon-arrow-down-left; 
  }
}
.icon-arrow-down-right {
  &:before {
    content: $icon-arrow-down-right; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-up-left {
  &:before {
    content: $icon-arrow-up-left; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-git-branch {
  &:before {
    content: $icon-git-branch; 
  }
}
.icon-git-commit {
  &:before {
    content: $icon-git-commit; 
  }
}
.icon-git-merge {
  &:before {
    content: $icon-git-merge; 
  }
}
.icon-git-pull-request {
  &:before {
    content: $icon-git-pull-request; 
  }
}
.icon-watch {
  &:before {
    content: $icon-watch; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}