@font-face {
  font-family: 'portfolio';
  src:
    url('fonts/portfolio.ttf?fcgft6') format('truetype'),
    url('fonts/portfolio.woff?fcgft6') format('woff'),
    url('fonts/portfolio.svg?fcgft6#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at-sign:before {
  content: "\e903";
}
.icon-cast:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-download-cloud:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-github:before {
  content: "\e90b";
}
.icon-gitlab:before {
  content: "\e90c";
}
.icon-hash:before {
  content: "\e916";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-rss:before {
  content: "\e90e";
}
.icon-send:before {
  content: "\e90f";
}
.icon-slack:before {
  content: "\e910";
}
.icon-terminal:before {
  content: "\e911";
}
.icon-thumbs-down:before {
  content: "\e912";
}
.icon-thumbs-up:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-user:before {
  content: "\e915";
}
.icon-social-linkedin:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e91d";
}
.icon-arrow-down-left:before {
  content: "\e91e";
}
.icon-arrow-down-right:before {
  content: "\e91f";
}
.icon-arrow-left:before {
  content: "\e920";
}
.icon-arrow-right:before {
  content: "\e921";
}
.icon-arrow-up:before {
  content: "\e922";
}
.icon-arrow-up-left:before {
  content: "\e923";
}
.icon-check-circle:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e924";
}
.icon-chevron-right:before {
  content: "\e925";
}
.icon-clock:before {
  content: "\e902";
}
.icon-git-branch:before {
  content: "\e917";
}
.icon-git-commit:before {
  content: "\e918";
}
.icon-git-merge:before {
  content: "\e919";
}
.icon-git-pull-request:before {
  content: "\e91a";
}
.icon-watch:before {
  content: "\e91b";
}
.icon-x:before {
  content: "\e91c";
}
