$slight-white: rgba(255,255,255,0.5);
$slight-tint: rgba(0,0,0, 0.1);

.container {
  :global {
    code {
      // background-color: rgba(0, 0, 0, 0.5);
      padding: 0.1rem;
      display: inline-block;
      line-height: 1.5em;
      tab-size: 2;
    }
    pre > code {
      display: block;
      tab-size: 2 !important;
      line-height: 1.2em;
      // box-shadow: rgb(0, 0, 0) 0px 0px 8px;
    }

    :not(pre) > code[class*='language-'],
    pre[class*='language-'] {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0;
      box-shadow: rgb(0, 0, 0) 0px 0px 8px;
    }

    pre[class*='language-'] {
      padding: 1em;
      margin: 0.5em 0;
      overflow: auto;
      border-radius: 0.3em;
      box-shadow: rgb(0, 0, 0) 0px 0px 8px;
    }

    a {
      text-decoration: none;
    }

    blockquote {
      margin-left: 1em;
      padding: 0 0.5em;
      display: inline-block;
      color: $slight-white;
      background-color: $slight-tint;
      line-height: 1.25em;
      border-left: 4px solid $very-light-purple;
    }

    ol,
    ul {
      padding-left: 20px;
    }
  }
}
