.category {
  font-size: 0.7em;
  color: $dark-pink;
  margin: 0.1em 0.2em;
  cursor: pointer;
}

.stubContainer {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  // border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
  margin: 20px 0;

  .link {
    text-decoration: none;
    &, &:visited {
      color: $white;
    }
  }

  .title {
    color: $very-light-purple;
    margin: 0;
  }
  .author {
    font-size: 0.75rem;
    // margin-top: -1em;
    color: rgba(255, 255, 255, 0.5);
  }
}

.postContainer {
  width: 100%;
  background-color: $primary_color;
  z-index: 0;
  padding: 1px;
  box-sizing: border-box;
  height: 100%;

  > div {
    background-color: $primary_color;
    @include contentContainer;
    max-width: 1440px;
    padding-top: 1px;
    margin-top: -1px;
    color: $white;
    min-height: 100%;

    @media (max-width: $media_phone) {
      padding: 30px 20px;
    }
  }
}

.flexSplit {
  display: flex;
  justify-content: space-between;
}

.postMetaContainer, .inlinePostMetaContainer {
  line-height: 1.5em;
  span:before {
    color: $very-light-purple;
    font-size: 1.2em;
  }
  // background-color: rgba(255, 255, 255, 0.05);
  // border-radius: 15px;
  // box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
  
}

.postMetaContainer {
  position: fixed;
  left: 0;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  box-shadow: rgb(0, 0, 0) 0px 0px 8px;
  padding: 30px 10px;
}

.inlinePostMetaContainer {
  display: flex;
  @media (max-width: $media_phone) {
    flex-direction: column;
  }
  float: right;
  > div {
    margin: 0 0.5em;
  }
}