.container {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  // border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
  margin: 20px 0;

  .title {
    color: $very-light-purple;
    margin: 0;
  }
  .author {
    font-size: 0.75rem;
    // margin-top: -1em;
    color: rgba(255, 255, 255, 0.5);
  }
}

.link {
  text-decoration: none;
  &, &:visited {
    color: $white;
  }
}